/*
    Created on : Mar 29, 2017, 10:05:24 AM

*/
.form-control{
    padding:6px 12px;
    color: 555;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn{
  display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger{
  color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.pull-left{
  text-align: left;
}
.pull-right{
   text-align: right;
}
